- @current_project = Project.first
- @task_list = TaskList.first
- @task = Task.new
- form_for @task, :html => { :id => 'new_task_from_overview', :class => 'app_form new_task', :style => 'display:none' } do |f|
  = render 'tasks/fields', :f => f, :project => @current_project, :task_list => @task_list, :task => @task
  .submit
    = link_to t('common.cancel'), '#', :id => 'cancel_task_from_overview'
    = preview_button
    = f.submit t('.submit'), :'data-disable-with' => t('.sending')
